*{
    box-sizing: border-box;
}
header{
    background-color: #fff;
    padding: 10px 0;
}
.wrapper{
    width: 940px;
    margin: 0 auto;
}
.logo,
.links{
    width: 450px;
    display: inline-block;
}
.links{
    text-align: right;
}